#body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.title {
  color: rgb(255, 108, 77);
}

.task {
  width: 300px;
  height: 300px;

  background-color: antiquewhite;

  margin-bottom: 10px;
}

#collapse {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.collapse__btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;

  margin-bottom: 10px;
}
.collapse__btn:hover {
  background: #1d49aa;
}
.collapse__btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.collapse__description {
  font-family: inherit;
  /* padding: 8px 16px; */

  overflow: hidden;

  transition: max-height 200ms;
  max-height: 0px;
}
.collapse__description_show {
  transition: max-height 400ms;
}

.text {
  padding: 8px 16px;
  border: 0.5px solid #4676d7;
  margin: 0;
}
